/* Estilização Geral Da Página */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/logo_de_fundo.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-attachment: fixed;
    background-color: #141517;
}

p {
    color: #fff;
    text-align: center;
}



/* Estilização do Menu */
header {
    top: 0;
    position: sticky;
    z-index: 1;
    background: linear-gradient(15deg, #10243b 35%, #1f3d5f);
    display: flex;
    padding: 15px 10px;
    box-shadow: 0 0 10px;
}

header div#caixa_logo {
    margin: 0;
}

header img#logo_menu {
    width: 150px;
}

header div#caixa_links {
    margin: 0 0 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
}

header a.links {
    margin: 0 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    text-decoration: none;
    color: #F2F2F2;
    transition: transform 0.25s;
}

header a.links:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.15);
    transition: transform 0.25s;
}



/* Entre em Contato */
dialog#dialog_contato {
    width: 60vw;
    margin: 10% auto;
    height: 490px;
    background: linear-gradient(155deg, #2a517e, #4971A6 75%);
}

dialog#dialog_contato form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

section#insira_as_informacoes {
    color: black;
    display: flex;
    flex-direction: column;
}

section#insira_as_informacoes h2 {
    color: #F2F2F2;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.85);
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    margin-bottom: 15px;
    text-align: center;
}

div.informacoes_do_usuario {
    display: flex;
    flex-direction: column;
}

label#label_nome_para_contato,
label#label_cep_usuario {
    margin: 5px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

input#nome_para_contato,
input#cep_usuario {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 5px 8px;
    width: 50vw;
}

input#botao_checar_cep {
    padding: 5px 10px;
    background-color: #8181c5;
    border: none;
    font-size: 1.2em;
    margin-bottom: 8px;
}

input#botao_checar_cep:hover {
    cursor: pointer;
    background-color: #7979ba;
}

div#label_cep_detalhado {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    height: 125px;
}

#label_cep_detalhado label {
    margin-bottom: 6px;
    font-size: 1.08em;
    font-Family: 'Merriweather', serif;
    color: #F2F2F2;
    text-shadow: 2px 2px 3px black;
}

#label_cep_detalhado label:hover {
    cursor: text;
}

dialog#dialog_contato menu {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#cancelar,
#confirmar {
    margin: 0;
    font-size: 1.8em;
    padding: 8px 14px;
    background-color: #f54842;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px;
}

#cancelar {
    background-color: #f54842;
    transition: transform 0.1s;
}

#cancelar:hover {
    background-color: #d33d38;
    cursor: pointer;
    transform: scale(0.975);
}

#confirmar {
    background-color: #42f54b;
    transition: transform 0.1s;
}

#confirmar:hover {
    background-color: #37c23e;
    cursor: pointer;
    transform: scale(0.975);
}


/* Botão 'Contato' */
#contato {
    position: fixed;
    bottom: 60px;
    right: 55px;
    z-index: 1;
}

#botao_contato_dialog {
    padding: 18px 22px;
    font-size: 1.45em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 2px solid black;
}

#botao_contato_dialog:hover {
    cursor: pointer;
    background-color: #19cce0;
    transform: scale(1.06);
}



/* Estilização dos Tópicos (conteúdo da página) */
.topico {
    margin: auto;
    width: 100%;
    height: 350px;
    position: relative;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.topico img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.titulo {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0px;
    letter-spacing: 2px;
    /* Espaçamento entre as letras */
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px 3px black;
    font-size: 1.2em;
}

h1#protech_consulting {
    letter-spacing: 1px;
    font-size: 1.85em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.descricao {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    max-width: 60%;
    margin-top: 7vh;
    font-family: 'Roboto', sans-serif;
    background-color: #141517e6;
}

.descricao p {
    margin: 5px 0;
}

/* Estilização de 'Serviços' */

#sub_titulo {
    margin: 20px 0 8px;
    font-size: 1.4em;
    font-family: 'Merriweather', serif;
}

#descricao_ilustrada {
    display: flex;
    align-items: center;
    gap: 0 30px;
    padding: 10px 0;
}

#descricao_ilustrada img {
    max-width: 350px;
}

.negrito {
    background-color: #1f3d5f;
    font-size: 1.2em;
    padding: 3px 0;
    font-weight: 500;
    margin-bottom: 10px;
}



/* Estilização do Tópico 'Equipamentos' */
div #video_arduino_selecionado iframe {
    width: 60vw;
    height: 60vh;
    border-radius: 8px;
}



/* Estilização do Tópico 'Integrantes' */
#integrantes img {
    object-fit: cover;
    height: 380px;
    object-position: 0 -70px;
}

#integrantes h2 {
    text-align: center;
}

#equipe {
    padding: 10px;
    margin-top: 60px;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141517a5;
    border-radius: 50px;
    flex-wrap: wrap;
}

#equipe div.funcionarios {
    margin: 15px 10px;
    height: 245px;
    width: 380px;
    background-color: rgba(255, 0, 0, 0.7);
    border: solid 3px #cdcdcd;
    text-align: center;
    /* Em caso de não haver imagem, o alt aparece no meio*/
}

.funcionarios .imagem_integrantes {
    height: 80%;
}

.imagem_integrantes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -0 0;
    /* Centraliza as imagens */
}

.funcionarios .nome_integrantes {
    height: 20%;
    background-color: #2a517e;
    border-top: solid 3px #cdcdcdaf;
    display: flex;
    align-items: center;
}

.nome_integrantes p {
    font-size: 1.45em;
    font-family: 'Noto Serif Balinese', serif;
    padding-top: 8px;
    /* Padding para centralizar com a fonte que puxa pra cima (os dev da fonte fizeram assim) */
}

.nome_gerente p {
    font-weight: bold;
}



/* Estilização do Rodapé */
footer {
    box-shadow: 0 0 15px 2px;
    background-color: #0f1011;
    padding: 60px 0;
    margin-top: 60px;
}

footer div#afiliados {
    width: 30%;
    padding: 25px 0;
    text-align: center;
}

footer div#afiliados h2 {
    font-size: 2.6em;
    color: #F2F2F2;
    font-family: 'Merriweather', serif;
    letter-spacing: 6px;
    text-shadow: 2px 2px 1px rgba(141, 141, 141, 0.65);
}

footer #campo_empresas_afiliadas {
    margin: 25px auto;
    width: 75%;
    background-color: #10243b;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.empresa_afiliada {
    margin: 20px auto;
    width: 280px;
    text-align: center;
    display: flex;
}

.empresa_afiliada img {
    transition: 0.15s;
    width: 90%;
}

.empresa_afiliada img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.25s;
}

/* Estilização do 'Entre em contato!' (ainda no footer) */
footer #entre_em_contato {
    margin-top: 80px;
    text-align: center;
    color: #4971A6;
    text-shadow: 2px 2px 5px black;
}

footer #contatos {
    background-color: #10243b;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}

footer .nossos_contatos p {
    margin: 10px 20px;
}





/* Estilização para Responsividade da página */
@media only screen and (max-width: 1120px) {

    /* Estilização de 'Serviços' */
    #sub_titulo {
        margin: 20px 0 0;
    }

    #descricao_ilustrada {
        flex-direction: column;
    }

    #descricao_ilustrada img {
        margin-top: 5px;
        max-width: 60%;
        min-width: 350px;
    }
}

@media only screen and (max-width: 890px) {

    header img#logo_menu {
        width: 100px;
    }

}

@media only screen and (max-width: 865px) {

    header img#logo_menu {
        display: none;
    }

    header div#caixa_links {
        margin: 0 auto;
        padding: 10px 0;
    }

    /* Contato */

    section#insira_as_informacoes h2 {
        font-size: 1.75em;
    }

    label#label_nome_para_contato,
    label#label_cep_usuario {
        font-size: 1em;
    }

    input#nome_para_contato,
    input#cep_usuario {
        font-size: 1.1em;
    }

    #label_cep_detalhado label {
        font-size: 1.45em;
    }

    dialog#dialog_contato menu {
        padding-top: 16px;
    }

    #cancelar,
    #confirmar {
        font-size: 1.6em;
    }


    /* Integrantes */
    #equipe div.funcionarios {
        height: 200px;
        width: 321px;
    }

    .funcionarios .nome_integrantes {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 740px) {

    body {
        background-size: 50%;
    }

    header img {
        display: none;
    }

    header a.links {
        margin: 0 20px;
    }

    .descricao {
        max-width: 90%;
    }


    /* Contato */

    dialog#dialog_contato {
        width: 80vw;
    }


    /* Estilização de 'Serviços' */
    #descricao_ilustrada img {
        min-width: 275px;
    }

    /* Equipamentos */
    div #video_arduino_selecionado iframe {
        width: 85vw;
    }

    /* Integrantes */

    #equipe div.funcionarios {
        height: 270px;
        width: 450px;
    }

    .funcionarios .nome_integrantes {
        font-size: 1em;
    }

    /* Footer */
    footer div#afiliados {
        width: 60%;
    }

    footer div#afiliados h2 {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 600px) {

    header a.links {
        margin: 0 12px;
    }

    /* Contato */

    section#insira_as_informacoes h2 {
        font-size: 1.55em;
    }

    label#label_nome_para_contato,
    label#label_cep_usuario {
        font-size: 0.95em;
    }

    input#nome_para_contato,
    input#cep_usuario {
        font-size: 1em;
    }

    #label_cep_detalhado label {
        font-size: 1.3em;
    }

    dialog#dialog_contato menu {
        padding-top: 16px;
    }

    #cancelar,
    #confirmar {
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 500px) {

    header {
        padding: 0;
    }

    header {
        max-width: 100%;
        border-radius: 0px;
        border: 0;
        box-shadow: 0px 3px 10px;
    }

    header a.links {
        margin: 0 6px;
        text-decoration: underline;
        padding: 15px 0px;
        font-size: 1.2em;
    }

    /* Contato */

    section#insira_as_informacoes h2 {
        font-size: 1.33em;
    }

    dialog#dialog_contato menu {
        padding-top: 25px;
    }

    #cancelar,
    #confirmar {
        font-size: 1.2em;
    }


    footer div#afiliados {
        width: 60%;
    }

    footer div#afiliados h2 {
        font-size: 2.2em
    }
}

@media only screen and (max-width: 440px) {

    header a.links {
        margin: 0 6px;
        padding: 15px 0;
        font-size: 1em;
    }

    /* Contato */

    dialog#dialog_contato form {
        padding: 25px 10px;
    }

    section#insira_as_informacoes h2 {
        font-size: 1.1em;
    }

    label#label_nome_para_contato,
    label#label_cep_usuario {
        font-size: 0.95em;
    }

    input#nome_para_contato,
    input#cep_usuario {
        font-size: 1em;
    }

    #label_cep_detalhado label {
        font-size: 1.3em;
    }

    dialog#dialog_contato menu {
        padding-top: 25px;
    }

    #cancelar,
    #confirmar {
        font-size: 1.2em;
    }

}