html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/logo_de_fundo.png");
    background: Cover;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-attachment: fixed;
    background-color: #141517;

}

p {
    color: #fff;
    text-align: center;
}

header {
    z-index: 1000;
    top: 0;
    position: sticky;
}

nav {
    z-index: 1000;
    background-color: #10243b;
    display: flex;
    padding: 15px 0px;
    box-shadow: 0 0 10px;
    /* max-width: 85%;
    paddin: 15px 10px;
    border-radius: 0 0 75px 75px;
    box-shadow: 1px 1px 12px 3px; */
}

img#logo_nav {
    width: 10vw;
}

nav a.links {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    transition: 0.25s;
    text-decoration: none;
    color: #F2F2F2;

}

nav a.links:hover {
    transform: scale(1.10);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.25s;
}



.topico {
    margin: auto;
    width: 100%;
    max-height: 350px;
    position: relative;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.topico img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
}

.titulo {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0px;
    
}

.descricao {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    max-width: 60%;
    margin-top: 7vh;
    font-family: 'Roboto', sans-serif;
    background-color: #141517a5;
}

.descricao p{
    margin: 5px 0;
}



#integrantes img {
    object-fit: cover;
    max-height: 380px;
    object-position: 0 -70px;
}

#integrantes h2 {
    text-align: center;
}

#equipe {
    padding: 10px;
    margin-top: 60px;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    /* background-color: #141517a5; */
    border-radius: 50px;
    flex-wrap: wrap;
}

#equipe div.funcionarios {
    margin: 15px 10px;
    background-color: rgb(255, 0, 0);
    height: 190px;
    width: 380px;
}

.funcionarios .pessoa {
    background-color: blue;
    height: 145px;
}

.funcionarios .descricao_pessoa {
    background-color: violet;
    height: 45px;
    display: flex;
    align-items: center;
}

.descricao_pessoa p {
    font-size: 1.8em;
}



footer {
    box-shadow: 0 0 15px 2px;
    background-color: #0f1011;
    padding: 60px 0;
    margin-top: 60px;
}



footer div#afiliados {
    width: 30%;
    padding: 25px 0;
    text-align: center;
}

footer div#afiliados h2 {
    font-size: 2rem;
    font-family: 'Young Serif', serif
}

footer #campo_empresas_afiliadas {
    margin: 25px auto;
    width: 75%;
    background-color: #10243b;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.empresa_afiliada {
    margin: 20px auto;
    width: 280px;
    text-align: center;
    display: flex;
}

.empresa_afiliada a {
    font-size: 1.6em;
    transition: 0.15s;
    color: #fff;
    text-decoration: none;
}

.empresa_afiliada a:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.25s;
}

#afiliados h2 {
    color: #F2F2F2;
}



footer #entre_em_contato {
    margin-top: 80px;
    text-align: center;
    color: #4971A6;
    text-shadow: 2px 2px 5px black;
}

footer #contatos {
    background-color: #10243b;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}

footer .nossos_contatos p {
    margin: 10px 20px;
}
@media only screen and (max-width: 700px) {

    body {
        background-size: 50%;
    }

    nav img {
        display: none;
    }

    .descricao {
        max-width: 90%;
    }

    footer div#afiliados {
        width: 60%;
    }

    footer div#afiliados h2 {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 500px) {

    header {
        padding: 0;
    }

    nav {
        max-width: 100%;
        border-radius: 0px;
        border: 0;
        box-shadow: 0px 3px 10px;
    }

    nav a.links {
        text-decoration: underline;
        padding: 5px
    }

    footer div#afiliados {
        width: 60%;
    }

    footer div#afiliados h2 {
        font-size: 2.2em
    }
}

@media only screen and (max-width: 440px) {

    nav a.links {
        font-size: 1em;
    }
}
